/*
Start MODx Evolution Responsive Template
author: http://www.tattoocms.it/
*/

@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

body {
  padding-top: 30px;
  color: #666666;
  background: #FFF;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size:16px;
  overflow-x: hidden;
}

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent Chrome, Opera, and Safari from
 *    letting these items shrink to smaller than their content's default
 *    minimum size.
 */
.Site {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 1 */
}
.Site-header,
.Site-footer {
  flex-shrink: 0; /* 2 */
}
.Site-content {
  flex: 1 0 auto; /* 2 */
}
.content {
  padding-top: 20px;
}
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
#footer a {
  color: #FFF;
}
#footer a:hover {
  color: yellow;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}
h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif; font-weight: 300;}

strong {font-weight: 400;color: #232323;}
a { color: #499bea;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;}
hr { border-top: 1px solid #e5e5e5;  border-bottom: 1px solid #fff;}

/*Images*/
img.thumbnail {
border: 1px solid #dedede;
border-radius: 2px;
margin-right:10px;
}
i.sideicon {
float: left;
padding-right: 5px;
color: #FF7F42;
}
/*
img.lazy {
	opacity: 0;
  transition: opacity .3s ease-in;
}
*/
.hover-effect {
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

/*Image Hove fx*/
.photo-hover-saturate {
filter: saturate(100%);
	-webkit-filter: saturate(100%);
	-moz-filter: saturate(100%);
	-o-filter: saturate(100%);
	-ms-filter: saturate(100%);
		-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.photo-hover-saturate:hover {
	filter: saturate(200%);
	-webkit-filter: saturate(200%);
	-moz-filter: saturate(200%);
	-o-filter: saturate(200%);
	-ms-filter: saturate(200%);

} 
.photo-hover-opacity {
	opacity: 0.6;
}
.photo-hover-opacity:hover {
	opacity: 1;
}
.zoomthumbnail i {
	font-size:2.4em;
}
h3.thumbtitle  {
	font-size:1.2em;
}
/*Image Overlay*/
#img-overlay .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
  margin:0;
}

#img-overlay{
    padding-bottom: 70px;
}

.img-overlay-wrap {
  position: relative;
}

.img-overlay-wrap img{
  width: 100%;
  border: 1px solid #eaeaea;
}

.img-overlay-wrap .img-overlay-inner{
  position:relative;
  top: 20%;
  background: transparent;
  opacity: .9;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.img-overlay-wrap .img-overlay-inner h3{
  margin: 10px 0;
  color:#499bea;
  font-weight:bold;
}

.img-overlay-wrap .img-overlay-inner h3 a{
  font-size: 24px;
  color: #fff;
}

.img-overlay-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #FFF;
  color: #fd7800;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px;
}

.img-overlay-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.img-overlay-wrap:hover .overlay {
  opacity: 0.6;
}

/*Blog Photo Stream*/
.blog-photos li {
	display: inline;
}
.blog-photos li img {
	opacity: 0.6;
	width: 58px;
	height: 58px;
	margin: 0 1px 4px;
}
.blog-photos li img:hover {
	opacity: 1;
	box-shadow: 0 0 0 2px #dedede;
}

/* Sidebars*/
aside h2 {	text-transform: uppercase; font-size: 26px;}
aside h3 {	text-transform: none; font-size: 20px; color: #888888;}
aside h3 a {color: #ff7f42;}
.left-sidebar {border-right: 1px solid #f5f5f5;}
.right-sidebar {border-left:1px solid #f5f5f5;}
a:hover,
a:focus {
  color: #ff7f42;
  text-decoration: none;
  outline: none;
}
.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}
body > section {
  padding: 50px 0;
}
/*default backgrounds*/
.grey h1, .white h1, 
.grey h2, .white h2, 
.grey h3, .white h3 {
	color: #499bea;
}
.orange h1, .blue h1, .black h1, .green h1, 
.orange h2, .blue h2, .black h2, .green h2, 
.orange h3, .blue h3, .black h3 .green h3 {
	color: #ffffff;
}
.white {
background-color:#FFFFFF;
}
.grey {
background-color: #fbfbfb; 
color:#282828; 
}
.darkgrey {
background-color: #293037; 
color:#FFF; 
}
.black {
background-color: #111111; 
color:#dddddd; 
}
.orange {
background-color:#ff6600;	
color:#FFFFFF; 
}
.green {
background-color:#74be4f;	
color:#FFFFFF; 
}
.blue {
background-color:#499bea;	
color:#FFFFFF;
}
.red {
background-color: #d54346;	
color:#FFFFFF;
}
.purple {
background-color: #9e82aa;	
color:#FFFFFF;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*#*/
.brand img{
margin: 0px 10px 0px 10px;

}
/* resize logo for ipad portrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .brand img{
margin: 5px 10px 0px 0px;
width: 140px;

}
}

/*navbar styles*/
.navbar-toggle{background-color:#499bea; border-color:#499bea; color:#FFFFFF; margin-right:20px;}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 1px;
}
.navbar-right {
margin-right:25px;
}
.navbar-custom {
border:none;
padding-top:5px;
margin:0px;
border-bottom: 1px solid #fff;
-webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.10);
-moz-box-shadow:    0px 3px 2px 0px rgba(0, 0, 0, 0.10);
box-shadow:         0px 3px 2px 0px rgba(0, 0, 0, 0.10);
}
.navbar-custom span.sub-arrow {
	margin-left: 1px;
	display:none;
}
.navbar-custom .navbar-brand {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  line-height: 53px;
  color: #fff;
  height:53px;
   margin-left:0px;
}
.navbar-custom .navbar-nav {
  margin-top: 10px;
 margin-left:-5px;
}
.navbar-custom .navbar-nav > li > a {
 font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  padding: 5px 6px 10px 6px;
  margin-right: 5px;
  color: #4994cd;
  font-size: 19px;
  font-weight: 400;
  border:1px solid #FFF;
  border-top: 2px solid #FFF;
  border-radius: 6px;
}
.navbar-custom .navbar-nav > li > a > i {
  color: #ff7f42;
  font-size: 12px;
}
.navbar-custom .navbar-nav > li > a:hover{
  background-color: #FFFFFF;
  color: #f07a45;
  border:1px solid #FFF;
  border-top: 2px solid #499bea;
  border-radius: 6px;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus
{ 
  background-color: #FFFFFF;
  color: #ff7f42;
  border:1px solid #FFF;
  border-top: 2px solid #499bea;
  border-radius: 6px;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #FFFFFF;
  color: #499bea;
  border:1px solid #FFF;
  border-top: 2px solid #499bea;
  border-radius: 6px;
}
/*dropdown */

.navbar-custom .navbar-nav .dropdown-menu {
	background: #ffffff;
	border: 1px solid #ebebeb; 
	border-top: 2px solid #499bea; 
	border-radius: 6px;
	padding: 3px 3px 3px 0;
	margin-top: 6px; 
	-moz-border-radius:2px;
	-webkit-box-shadow:0 5px 3px -3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 5px 3px -3px rgba(0, 0, 0, 0.1);
	box-shadow:0 5px 3px -3px rgba(0, 0, 0, 0.1); 

}


.navbar-custom .navbar-nav .dropdown-menu > li > a {
 font-family: 'Dosis', sans-serif;
  font-size: 18px;
    font-weight: 300;
  color: #499bea;
  border: 0px; 
}
.navbar-custom .navbar-nav .dropdown-menu > li:hover > a,
.navbar-custom .navbar-nav .dropdown-menu > li:focus > a,
.navbar-custom .navbar-nav .dropdown-menu > li.active > a {
    background: #fbfbfb;
    color: #f07a45;
    border: 0px; 
}
.navbar-custom .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
.navbar-custom .navbar-nav .dropdown-menu > li.divider {
  background-color: rgba(0, 0, 0, 0.1);
}
/**/
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.navbar-custom .navbar-collapse {
    max-height: 100%;
padding-right3px;
}
.navbar-collapse.collapse.in > ul.nav.navbar-nav > li.open > ul.dropdown-menu {box-shadow:none;}

/*Homepage*/
/*Flexslider*/
div > div.flexslider {
  margin: 20px 0 20px 0;
  padding:0;}
div > div.flexslider > .flex-direction-nav a {
  text-decoration: none;
  text-align:center;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0 5px 5px 5px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  }
div > div.flexslider > .flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 30px;
  color: #499bea;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

div > div.flexslider > .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -28px;
  text-align: center;
}
div > div.flexslider > .flex-control-paging li a {
  width: 44px;
  height: 9px;
  background: #FFF;
   border-radius: 0px;
}
div > div.flexslider > .flex-control-paging li a:hover {
  background: #499bea;
}
div > div.flexslider > .flex-control-paging li a.flex-active {
  background: #499bea;
  cursor: default;
}

/* Caption style */
.flexslider {
  margin-top: 25px!important;}
.flex-caption {
	font-family: 'Dosis', sans-serif;
	font-weight:300;
	padding: 20px;
	position: absolute;
	left: 18%;
	bottom: 15%;
	color: #fff;
	font-size:1.6em;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.6);		
}

.flex-caption h2 {
	font-family: 'Dosis', sans-serif;
	font-weight:400;
	color:#FFFFFF;
	text-shadow:1px 1px 1px #888;
	text-transform: uppercase;
	font-size: 1.9em; 
	line-height: 1.2em; /* 26px/20px */
	margin: 0px 0px 0px 0px;
   padding: 5px 10px;	
}

.flex-caption p {
	color: #ff6600;
	font-size: 1.4em; 
	text-shadow:1px 1px 1px #888;
   padding: 10px 0px 5px 10px;
	margin: 20px 0px 0px 20px;	
}

.flex-caption h2 + p {
	margin: 0;	
}

.flex-caption a {
	color: #b2b2b2;
}
@media screen and (max-width: 860px) {
  .flex-caption { left: 7%; bottom: 7%;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
  .flex-caption h2 {	font-size: 1em; line-height: 0.8 em;}
.flex-caption p {	font-size:0.8em;}
}
@media screen and (max-width: 460px) {
.flex-caption { display:none;}
}
/**/

/* OWL carousel*/
h3.carouseltitle {font-size:16px; line-height:19px; margin-top:0px; color:#333; display:block; background: #f5f5f5; padding-bottom:3px; border-radius: 0 0 4px 4px;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);}

.owl-btn {
  color: #777;
  cursor: pointer;
  font-size: 18px;
  padding: 2px 9px;
  text-align: center;
  background: #f5f5f5;
}

.owl-btn:hover {
  color: #fff;
  background: #499bea;
}

/*Owl Carousel v1*/
.owl-carousel-style1 .owl-navigation {
  text-align: right;
  padding-right: 30px;
  margin-bottom: 5px;
}

.owl-carousel-style1 .item {
  margin: 0 5px;
}

.owl-carousel-style1 .item img {
  text-align: center;
height: 100%;
display: block;
width: 100%;

}

.owl-carousel-style1 .owl-pagination {
  display: inline;
}

.owl-carousel-style2{
  margin-left: 1px;
}
.owl-carousel-style3 .owl-buttons {
margin-top:-20px;
}
.owl-carousel-style3 .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-carousel-style3 .owl-controls .owl-buttons .owl-prev{
  background:#FFF;
  border:1px solid #ddd;
  color:#333;
  border-radius:70%;
  opacity:0.8;
  left: -13px;
  top: 36%;
}
 
.owl-carousel-style3 .owl-controls .owl-buttons .owl-next{
  background:#FFF;
  border:1px solid #ddd;
  color:#333;
  border-radius:70%;
  opacity:0.8;
  right: -13px;
  top: 36%;
}
.owl-carousel-style3 .owl-controls .owl-buttons .owl-prev:hover, .owl-carousel-style3 .owl-controls .owl-buttons .owl-next:hover {
  background:#FFF;
  opacity:1;
}
.owl-carousel-style3  .item{
      margin: 3px;
    }
.owl-carousel-style3  .item img{
      display: block;
      width: 100%;
      height: auto;
    }
/*Owl Pagination*/
.owl-pagination {
  text-align: center !important;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  opacity: 1;
  filter: Alpha(Opacity=100);/*IE7 fix*/
}
.owl-theme .owl-controls .owl-page {
  zoom: 1;
  display: inline-block;
  *display: inline;/*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
  width: 12px;
  height: 12px;
  opacity: 0.3;
  display: block;
  margin: 5px 7px;
  background: #bbb;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
/* quote carousel*/
#quoteCarousel .carousel-inner .item img {
	width:100%;
	height:100%;
}
#quoteCarousel .item .thumbnail {
	margin-bottom:0;
}
#quoteCarousel .carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
#quoteCarousel .carousel-control {
	background:	#fff;
	color:#999;
	padding: 2px 0;
  width: 18px;
  height: 22px;
	top:auto;	
	left:auto;
	bottom:0;
	opacity:1;
	text-shadow:none;
}
#quoteCarousel .carousel-control.right {
	right:10px;
}

#quoteCarousel .carousel-control.left {
	right: 40px;
}
/**/



/*tag cloud*/
ul.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.tag-cloud li {
  display: inline-block;
  margin: 0 0 2px 0;
}
/*titles*/
#title h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}
.center {
  text-align: center;
}
.block-title {
  position: relative;
  padding: 4px 0 31px;
  margin-top: 0;
  margin-bottom: 40px;
  font: 28px 'Roboto', sans-serif;
  text-align: center;
  color: #34495e;
  border-bottom: 1px solid #dfe6e7;
}
.block-title:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 80px;
  height: 3px;
  margin-left: -40px;
  background-color: #499bea;
}
.block-title--special:before {
  background-color: #ff7f42;
}
.block-title--left {
  text-align: left;
}
.block-title--left:before {
  left: 0;
  margin-left: 0;
}
.block-title--simple {
  padding-top: 54px;
  padding-bottom: 21px;
  margin-bottom: 0;
  border: none;
}
.block-title--simple:before {
  display: none;
}
.block-title--inverse {
  color: #ffffff;
}
.block-title--bottom {
  margin-bottom: 60px;
}
.block-title--bottom-l {
  margin-bottom: 80px;
}
.block-title--top-larger {
  margin-top: 80px;
}
.block-title--top-large-m {
  margin-top: 70px;
}
.block-title--top-large {
  margin-top: 60px;
}
.block-title--top-large-s {
  margin-top: 50px;
}
.block-title--top-middle {
  margin-top: 40px;
}
.block-title--top-s {
  margin-top: 10px;
}
.block-title--bottom-s {
  margin-bottom: 10px;
}
/*Blockquote*/
blockquote {
  padding: 5px 15px;
  border-left-width: 2px;
}

blockquote p {
  font-size: 14px;
  font-weight: 400;   
}

blockquote h1,
blockquote h2,
blockquote span {
  font-size: 18px;
  margin: 0 0 8px;
  line-height: 24px;
}

/*Blockquote Styles*/
blockquote.bq-text-lg p,
blockquote.bq-text-lg small {
  text-transform: uppercase;
}

blockquote.bq-text-lg p {
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
}

blockquote.text-right,
blockquote.hero.text-right {
  border-left: none;
  border-right: 2px solid #eee;
}

blockquote.hero.text-right,
blockquote.hero.text-right:hover {
   border-color: #555;
}

blockquote:hover,
blockquote.text-right:hover {
  border-color: #72c02c;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

blockquote.bq-dark,
blockquote.bq-dark:hover {
  border-color: #585f69;
}

blockquote.bq-green {
  border-color: #72c02c;
}
/*Buttons*/

.btn-default {
	background: #499bea;
	color: #FFF;
}
.btn-default:hover {
	background: #ff7f42;
	color: #FFF;
}
.btn {
	border:none;
  font-weight: 400;
     -webkit-transition: all 0.5s ease;                  
    -moz-transition: all 0.5s ease;                 
    -o-transition: all 0.5s ease;   
    -ms-transition: all 0.5s ease;          
    transition: all 0.5s ease;
}
.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}
.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
/* Social Buttons*/
.btn-social {
  border: 0;
  color: #fff;
  border-radius: 15%;
  display: inline-block;
  width: 34px;
  height: 33px;
  line-height: 32px;
  text-align: center;
  padding: 4px 2px 2px 2px;
}
.btn-social-grey {
  border: 0;
  color: #fff;
  border-radius: 60%;
  display: inline-block;
  width: 32px;
  height: 31px;
  line-height: 30px;
  text-align: center;
  padding: 4px 2px 2px 2px;
  color: #FFF;
  font-size: 11px;
  background-color: #cfd3d6;
}
.btn-social-grey:hover {
  color: #fff;
}
.btn-social.btn-facebook {
  background: #4f7dd4;
}
.btn-social.btn-facebook:hover,
.btn-social-grey.btn-facebook:hover {
  background: #789bde;
}
.btn-social.btn-twitter {
  background: #5bceff;
}
.btn-social.btn-twitter:hover,
.btn-social-grey.btn-twitter:hover {
  background: #8eddff;
}
.btn-social.btn-linkedin {
  background: #21a6d8;
}
.btn-social.btn-linkedin:hover,
.btn-social-grey.btn-linkedin:hover {
  background: #49b9e3;
}
.btn-social.btn-google-plus {
  background: #dc422b;
}
.btn-social.btn-google-plus:hover,
.btn-social-grey.btn-google-plus:hover {
  background: #e36957;
}
.btn-social.btn-youtube {
  background: #dc422b;
}
.btn-social.btn-youtube:hover,
.btn-social-grey.btn-youtube:hover {
  background: #e36957;
}
.btn-social.btn-vimeo {
  background: #7d99a9;
}
.btn-social.btn-vimeo:hover,
.btn-social-grey.btn-vimeo:hover {
  background: #465d6a;
}
.btn-social:hover {
  color: #fff;
}


#social-media .icon-facebook {
  background-color: #3c5899;
}
#social-media .icon-facebook:hover {
  background-color: #4e6fba;
}
#social-media .icon-twitter {
  background-color: #29c5f6;
}
#social-media .icon-twitter:hover {
  background-color: #5ad2f8;
}
#social-media .icon-google-plus {
  background-color: #d13d2f;
}
#social-media .icon-google-plus:hover {
  background-color: #da6459;
}
#social-media .icon-pinterest {
  background-color: #c61118;
}
#social-media .icon-pinterest:hover {
  background-color: #ec1e26;
}
.icon-lg {
  font-size: 46px;
  height: 96px;
  width: 96px;
  line-height: 96px;
  color: #fff;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  display: inline-block !important;
  border: 3px solid #FFFFFF;
  border-radius: 20%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.icon-lg:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 60%;
}
.icon-md {
  font-size: 36px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: block;
  border-radius: 50%;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
.icon-rounded {
  font-size: 26px;
  height: 48px;
  width: 48px;
  line-height: 48px;
  color: #fff;
  background-color: #499bea;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
.icon-rounded:hover {
  background-color: #ff7f42;
}
#headliner {padding-top: 40px; padding-bottom: -10px;}
#headliner h1{padding:0px;margin:0;}
.breadcrumb {
background:transparent;
padding-top: 10px;
text-align: right;
font-size: 14px;
}
.breadcrumb a {
  color: #999;
}
ul.breadcrumb > li.active {
  color: rgba(255, 255, 255, 0.7);
}
/*bottom row*/
#bottom {
padding-top:20px; color: #666666;}
#bottom a{color: #444444;}
#bottom a:hover{color: #499bea;}
#bottom h4 {
  color: #499bea;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;}
#bottom i {color: #FFF;}
#bottom ul li {margin-top:2px;}
.row > div { margin-bottom: 10px;}
.dl-horizontal dt{float:left;width:100px;clear:left;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.dl-horizontal dd{margin-left:20px}
ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*Unordered Lists*/
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.arrow li::before,
ul.arrow-double li::before,
ul.tick li::before,
ul.cross li::before,
ul.star li::before,
ul.rss li::before,
ul.arrow li::after,
ul.arrow-double li::after,
ul.tick li::after,
ul.cross li::after,
ul.star li::after,
ul.rss li::after {
  font-family: FontAwesome;
  font-size: 11px;
}
ul.arrow li::before,
ul.arrow-double li::before,
ul.tick li::before,
ul.cross li::before,
ul.star li::before,
ul.rss li::before {
  margin-right: 5px;
}
ul.arrow li::before {
  content: "\f105";
}
ul.arrow-double li::before {
  content: "\f101";
}
ul.tick li::before {
  content: "\f00c";
}
ul.cross li::before {
  content: "\f00d";
}
ul.star li::before {
  content: "\f006";
}
ul.rss li::before {
  content: "\f09e";
}


.scrollup {
background: url("../images/gototop/icon_gototop.png") no-repeat scroll 0 0 transparent;
bottom: 20px;
display: none;
height: 40px;
position: fixed;
right: 20px;
text-indent: -9999px;
width: 40px;
}
ul.social {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  display: inline-block;
}
ul.social > li {
  display: inline-block;
  margin: 0 5px;
}
ul.social > li > a {
  font-size: 24px;
  color: #666;
}
ul.social > li > a:hover {
  color: #999;
}
.box-border {
  padding: 15px;
}
.accordion-group {
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
}
.accordion-heading .accordion-toggle {
  color: #666;
  font-weight: 700;
}
.accordion-inner {
  border-top: 0;
}
.blog-post {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.blog-post .img-blog {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.blog-post .blog-content {
  padding: 20px;
}
.blog-post h3 {
  margin-top: 0;
}
.blog-post a h3{
    -webkit-transition: color 0.3s ease;                  
    -moz-transition: color 0.3s ease;                 
    -o-transition: color 0.3s ease;   
    -ms-transition: color 0.3s ease;          
    transition: color 0.3s ease;
}
.blog-post a h3:hover{
color: #ff7f42;
}
.blog-post .entry-meta {
  margin-bottom: 20px;
}
.blog-post .entry-meta i{
  color: #ff7f42;
}
.blog-post .entry-meta > span {
  display: inline-block;
  color: #499bea;
  margin-right: 10px;
  font-size: 12px;
}
.blog-post .entry-meta > span a {color: #499bea;}
.blog-post .entry-meta > span a:hover {color: #ff7f42;}
/*magazine*/
.blog-postsmalltext {
	font-size:14px;
}
.blog-postsmalltext h5{
	font-size:16px;
	margin-bottom:3px;
	margin-top:2px;
}
.blog-postsmalltext h5{
	margin-right:2px;
}
/* blog pagination*/ 
ul.pagination > li > a {
  border: 1px solid #DDD;

}
ul.pagination > li.active > a,
ul.pagination > li:hover > a {
  background-color: #499bea;
  color: #fff;
}

.pagination.custom > li > a, 
.pagination.custom > li > span {
   background-color: #FFFFFF;
  border: 1px solid #DDD;
   color: #777;
}
.pagination.custom > li > a:hover, 
.pagination.custom > li > a:focus, 
.pagination.custom > li > span:hover,
.pagination.custom > li > span:focus,
.pagination.custom > li.active > a,
.pagination.custom > li.active > span {
   background: #499bea;
   border-color: #499bea; 
    color: #FFF
}
/*Blog comments*/

#commentsAnchor{padding:15px 0;}
#commentsAnchor .jot-err {border: 1px solid #f60; background-image: linear-gradient(#f60, #f00 60%, #f00); background-repeat: no-repeat; color: #fff; padding: 10px; margin-bottom: 15px;}
#commentsAnchor .jot-cfm {border: 1px solid #00cc00; background-image: linear-gradient(#fcfcfc, #00cc00 60%, #00cc00); background-repeat: no-repeat; color: #fff; padding: 10px; margin-bottom: 15px;}
#commentsAnchor .jot-row {border: 1px solid #f3f3f3; margin-bottom: 15px; background:#fcfcfc, #f9f9f9 60%, #f9f9f9); background-repeat: no-repeat; padding: 10px;}	
#commentsAnchor .jot-row-alt {background-color: #fbfbfb;}
#commentsAnchor .jot-row-author {color: #333; background: #fbfbfb; border:1px solid #fbfbfb;}
#commentsAnchor .jot-row-author a{color:#111;}
#commentsAnchor .jot-row-me {background-color: #ddecfb;}
#commentsAnchor .jot-row-up {border: 1px solid #ffebcd; background: #ffebcd; }
#commentsAnchor .jot-row-new {border: 1px solid #d5d5d5; background:#e5e5e5;}
#commentsAnchor .jot-row-up .jot-comment hr, #commentsAnchor .jot-row-new .jot-content hr {border-bottom: 1px solid #fff;}
#commentsAnchor .jot-comment {padding: 3px 6px;}
#commentsAnchor .jot-comment hr {border: 0px; border-bottom: 1px solid #e5e5e5;}
#commentsAnchor .jot-posticon {float: right; width: 20px; height: 20px; padding-top: 0px; padding-right:3px;}
#commentsAnchor .jot-posticon img {border: 0px;}
#commentsAnchor .jot-mod {float: right; width: 100px; text-align: right; color: #666; font-weight: bold;}
#commentsAnchor .jot-mod img {border: 0px;}
#commentsAnchor .jot-mod a {float: right; padding: 1px; padding-left: 2px; padding-right: 2px;}
#commentsAnchor .jot-mod a:hover {color: #444; background:none;}
#commentsAnchor .jot-subject {font-size:16px;}
#commentsAnchor .jot-message {padding: 2px; overflow: auto;}
#commentsAnchor .jot-poster {padding: 0px; text-align: left; font-size: 11px;}
#commentsAnchor .jot-nav {padding: 8px 8px; text-align: center; margin: 20px 0 10px; background:#fbfbfb; border:1px solid #e5e5e5;}
#commentsAnchor .jot-list ul {padding: 0px; text-align: left; margin-bottom: 10px; list-style-position: inside;}
#commentsAnchor .jot-subscribe {margin-bottom: 10px;}
#commentsAnchor .jot-form {margin-bottom: 10px;}
#commentsAnchor .jot-form fieldset {border: 0px;}
#commentsAnchor .jot-form label {display: block;}
#commentsAnchor .jot-user {float: left; width: 100px; }
#commentsAnchor .jot-content {margin-left: 100px;}
#commentsAnchor .jot-extra {text-align: right; font-size:11px;}
#commentsAnchor .jot-editby {font-size: 11px; font-style: italic;}	
#commentsAnchor i.fa{margin:0 2px;}
#commentsAnchor .jot-list .btn-default{color: #fff; background-image:linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5); background-repeat:no-repeat; border:1px solid #178acc; margin:10px 0;}
#commentsAnchor input[type="submit"]{width:200px;}

/*comments*/
.jot-row {
	border-radius: 8px;
	padding: 4px;
}
.jot-content {
padding-left: 8px;
}
.jot-user {
margin-right:5px;
font-size:15px;
font-weight: normal;
color: #499bea;
}
.jot-subject {
font-size:15px;
font-weight: bold;
color: #ff7f42;
}	
#commentsAnchor input[type="text"], #commentsAnchor textarea{  display: block;
  width: 100%!important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
#commentsAnchor input[type="text"]:focus,#commentsForm textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#commentsAnchor input[type="submit"] ,#commentsAnchor button{height:45px;padding: 8px 3px; margin:5px 0;border: 0; background: #ff7f42; color:#fff;}
#commentsAnchor button:hover{background: #499bea; }

textarea#message {
  padding: 10px 15px;
  height: 219px;
}
.widget {
  margin-bottom: 40px;
  clear:left;
}
ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

#error {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

/*Forms*/
.control-label {
font-size:15px;
font-weight: normal;
color: #499bea;	
}
/*Search*/
/*sidesearch*/
.sidesearch #ajaxSearch_input{
margin:0;
padding:3px;
border:1px solid #eee;
border-radius: 6px;
box-shadow: inset 0px 0px 5px 0px #eeeeee;
-webkit-box-shadow: inset 0px 0px 5px 0px #eeeeee;
-moz-box-shadow: inset 0px 0px 5px 0px #eeeeee;
-o-box-shadow: inset 0px 0px 5px 0px #eeeeee;
}
.sidesearch #ajaxSearch_submit {
margin-top:4px;
padding:4px;
margin-left:2px;
border-radius: 100%;
}
/*BS navbar searc*/
.searchnav {
margin:0 30px 0 0;
padding:1px;
border:1px solid #FFF;
border-top: 2px solid #499bea;
border-radius: 6px;
box-shadow: inset 0px 0px 5px 0px #eeeeee;
-webkit-box-shadow: inset 0px 0px 5px 0px #eeeeee;
-moz-box-shadow: inset 0px 0px 5px 0px #eeeeee;
-o-box-shadow: inset 0px 0px 5px 0px #eeeeee;
}
.searchnav #ajaxSearch_input{
border:0;
margin:0px;
width: 105px !important;
-webkit-transition: width 0.3s;
-moz-transition: width 0.3s;
transition: width 0.3s;
}

.searchnav #ajaxSearch_input:focus {
width: 200px !important;
-webkit-transition: width 0.5s;
-moz-transition: width 0.5s;
transition: width 0.5s;
}
.searchnavbutton {
border: 0;
background: transparent;
padding: 2px 5px;
margin-top: 12px;
position: relative;
left: -28px;
margin-bottom: 0;
    }
 
.searchnavbutton i  {margin-top:3px;color:#499bea;}

#ajaxSearch_input {
background:transparent;
display:inline;
width:200px;
margin:0;
border:0;
padding:2px 7px;
font-size:15px;
font-weight: normal;
color: #c2c2c2;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
#ajaxSearch_input:focus {
color: #333;	
}
#ajaxSearch_submit {
font-family: FontAwesome;
display:inline;
font-size:16px;
font-weight: normal;
margin:0px 0px 0px -8px;
padding:2px 5px 2px 5px;
border:0;
background: transparent;
color: #499bea;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#ajaxSearch_submit:hover {
	color:#ff7f42;  
}
p.ajaxSearch_resultsInfos {
           color: #999;
           margin-bottom: 3px;
       }
#ajaxSearch_result {
           color: #444;
           margin-bottom: 3px;
       }
a.ajaxSearch_resultLink {
font-size:20px;
text-decoration: none;
       }
#ajaxSearch_resultDescription{
           color: #555;
       }
#ajaxSearch_ajax_more {
           color: #555;
       }
/*Deviders*/
.space{
clear:both;
margin: 30px 0;
}
.devider.devider-dotted {border-top: 2px dotted #eee;}
.devider.devider-dashed {border-top: 2px dashed #eee;}
.devider.devider-db {
  height: 5px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.devider.devider-db-dashed {
  height: 5px;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}
.devider.devider-db-dotted {
  height: 5px;
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}
/* Margins */
.gap {margin-bottom: 50px;}
.big-gap {margin-bottom: 100px;}
.no-margin {margin: 0;padding: 0;}
.no-padding {padding: 0;margin: 0 auto;}

.margin-bottom-5, 
.margin-bottom-10, 
.margin-bottom-15, 
.margin-bottom-20,
.margin-bottom-25, 
.margin-bottom-30, 
.margin-bottom-35, 
.margin-bottom-40, 
.margin-bottom-45, 
.margin-bottom-50, 
.margin-bottom-55, 
.margin-bottom-60 { 
   clear:both;
}
.margin-bottom-5  { margin-bottom:5px;}
.margin-bottom-10 { margin-bottom:10px;} 
.margin-bottom-15 { margin-bottom:15px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-25 { margin-bottom:25px;}
.margin-bottom-30 { margin-bottom:30px;}
.margin-bottom-35 { margin-bottom:35px;}
.margin-bottom-40 { margin-bottom:40px;}
.margin-bottom-45 { margin-bottom:45px;}
.margin-bottom-50 { margin-bottom:50px;}
.margin-bottom-55 { margin-bottom:55px;}
.margin-bottom-60 { margin-bottom:60px;}

.padding-5  { padding:5px;}
.padding-10 { padding:10px;} 
.padding-15 { padding:15px;}
.padding-20 { padding:20px;}
.padding-25 { padding:25px;}
.padding-30 { padding:30px;}
.padding-35 { padding:35px;}
.padding-40 { padding:40px;}
.padding-45 { padding:45px;}

.padding-left  { padding-left:5px;}
.padding-right { padding-right:5px;}

/*Box borders*/
.borderTop {
border-top: 1px solid #e8e8e8;
}
.borderBottom {
border-bottom: 1px solid #e8e8e8;
}

/*tabs*/
.tab-content {
    padding: 20px 20px;
    border: 1px solid #e8e8e8;
    border-top: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
        .nav-tabs > li > a:hover,
        .nav-tabs > li > a:focus{
            color: #499bea;
            background-color: #fbfbfb;  
        } 
        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus{
            color: #ff7f42;
            background-color: #fff;  
        } 
/* youtube multitv*/
.img-overlay {position: relative;}
.img-overlay img{width: 100%;}
.fa-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #333;
    opacity: 0.8;
}
.fa-overlay:hover {
    opacity: 1;
    color: #f40000;
}
.fa-overlay span{
position: absolute;
    top: 40%;
    left: 46%;	
   font-size:38px;
}
@media (max-width: 767px) {
.fa-overlay span{
    left: 44%;	
}
}
   @media (max-width: 480px) {
.fa-overlay span{
    left: 43%;	
   font-size:20px;
}
}

